@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap");
@import "tailwindcss";
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: "Asul", sans-serif;
    /* color: #333; */
  }

  body {
    background-color: #222f3e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
  }

  #root {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@theme {
  --color-brand-bg: #567995;
  --color-brand-submitBtn: #334859;
  --color-brand-submitBtn-hover: #3c5569;
  --color-brand-danger: #a30000;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
